on:
  push:
    branches:
      master

name: Deploy Website to AWS

permissions:
  id-token: write

jobs:
  deploy_website:
    name: Deploy Website to AWS
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}

    - name: Deploy
      run: |
        aws s3 cp public s3://${{ secrets.BUCKET }}/staging --recursive
        aws s3 cp public s3://${{ secrets.BUCKET_WWW }}/staging --recursive
    
