on:
  push:
    branches: [master]
  pull_request:
    types: ['opened', 'synchronize']

name: Deploy Website to AWS

permissions:
  id-token: write

jobs:
  deploy_website:
    name: Deploy Website to AWS
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'pull_request' && 'staging' || 'production' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}

    - name: Deploy
      run: |
        aws s3 cp public ${{ secrets.DEPLOY_PATH }} --recursive
        aws s3 cp public ${{ secrets.DEPLOY_PATH_WWW }} --recursive
    
